.wishlist-wrapper {
  margin-bottom: 60px;
  display: flex;
  overflow-x: scroll;
  gap: 30px;
  * {
    list-style: none;
  }
  .wishlist-item {
    &:hover {
      button {
        opacity: 1;
        transition: all 0.1s linear;
      }
    }
    position: relative;
    div {
      width: 270px;
      position: relative;
      height: 260px;
      background: #f5f5f5;
      padding: 12px;
      margin-bottom: 16px;
      p {
        color: var(--Text, #fafafa);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        font-family: Poppins;
        line-height: 18px; /* 150% */
        padding: 4px 12px;
        background-color: #db4444;
        border-radius: 4px;
        width: 55px;
      }
      img {
        margin-top: 21px;
        margin-left: 20px;
      }

      button {
        position: absolute;
        opacity: 1;
        bottom: 0;
        left: 0;
        color: #fff;
        background: #000;
        font-size: 16px;
        font-style: normal;
        font-family: Poppins;
        font-weight: 500;
        line-height: 24px; /* 150% */
        width: 100%;
        padding: 8px 0;
        cursor: pointer;
        opacity: 1;
      }
    }

    p:nth-child(2) {
      color: #000;
      font-size: 16px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      margin-bottom: 10px;
    }

    p:nth-child(3) {
      display: flex;
      margin-bottom: 10px;
      gap: 20px;
      span:first-child {
        color: var(--Secondary-2, #db4444);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        font-family: Poppins;
        line-height: 24px; /* 150% */
      }

      span:last-child {
        color: var(--Button, #000);
        font-size: 16px;
        font-style: normal;
        font-family: Poppins;
        font-weight: 500;
        line-height: 24px; /* 150% */
        text-decoration-line: line-through;
        opacity: 0.5;
      }
    }

    ul {
      display: flex;
      gap: 5px;
      color: var(--Text2, #000);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      font-family: Poppins;
      line-height: 21px; /* 150% */

      li:last-child {
        opacity: 0.5;
      }
    }

    .img1 {
      text-align: center;
      width: 34px;
      height: 34px;
      position: absolute;
      right: 12px;
      top: 12px;
      background-color: white;
      border-radius: 100%;
      cursor: pointer;

      svg {
        margin-top: 5px;
      }
    }

    .img1:hover {
      background-color: #db4444;
      transition: all 0.2s linear;
      svg {
        path {
          stroke: white;
        }
      }
    }

    .img2 {
      text-align: center;
      cursor: pointer;
      width: 34px;
      height: 34px;
      position: absolute;
      top: 54px;
      right: 12px;
      background-color: white;
      border-radius: 100%;

      svg {
        margin-top: 7px;
      }
    }

    .img2:hover {
      background-color: #db4444;
      transition: all 0.2s linear;
      svg {
        path {
          stroke: white;
        }
      }
    }
  }
}

.wishlist {
  display: flex;
  justify-content: space-between;

  p {
    margin-top: 170px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
  }

  button {
    margin-top: 160px;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-family: Poppins;
    line-height: 26px; /* 130% */
    font-family: Poppins;
    padding: 16px 48px;
    background-color: transparent;
    cursor: pointer;
    height: 56px;

    &:hover {
      background-color: #db4444;
      transition: all 0.1s linear;
      color: white;
      border: none;
    }
  }
}
